html{

    scroll-behavior: smooth;

}



.navbar{

    padding-left: 15px;
    padding-right: 15px;
    }






*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{



}

header{

    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.header-text{

    /* flex: 1; */
    padding-left: 60px;
    padding-top: 90px;

}

.left, .right{

   flex: 1;
}


.right{

display: flex;
justify-content: flex-end;

}



.justify{

    text-align: left;

}

.work-preview{


    display:flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    margin-bottom: 160px;


}

.work-preview-img{

margin-bottom: 20px;
border-radius: 14px;

}

.about-me{

margin-bottom: 200px;
max-width: 70%;

}

.work-images-container{

display: flex;
gap: 30px;

}

.work-images-right{

display: flex;
flex-direction: column;
justify-content: space-between;
flex: 1;

padding-right: 60px;

}


.work-images-left{

    padding-left: 60px;
    flex: 1;
}

.work-images{

    border:3px solid #b7094c;
    border-radius: 14px;
border-width:3px;
border-style:solid;
/* border-color:#b7094c; */
border-color:#616894;
 
max-width: 100%;

}

.work-text{

    display:flex;
    align-items: center;
    margin-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    gap : 30px;

    margin-bottom: 30px;
}

.work-main-container{

    max-width: 50%;

}

.work-services-container{



}


.work-body{

max-width: 90%;

}


/* ///////////////////////////////////////// TEXT STYLES ///////////////////////////////////////*/


h1{
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    line-height: 1.05;
    /* color: #892b64; */
    /* color: #a01a58; */
    color: #b7094c;
}


h2{

padding-left: 60px;
font-size: 3rem;
/* align-self: flex-start; */
/* color: #7AA6B0; */
/* color: #512D4E; */
color: #b7094c;
/* color: #723C70 */
font-weight: 900;


}

u{

    text-decoration: underline;
    text-decoration-thickness: .7rem;
    /* text-decoration-color: #616894; */
    text-decoration-color: #616894;



}


h3{

    font-size: 2.5rem;
    color: #b7094c;
    font-weight: 800;

}

h4{

    font-size: 1rem;
    color: #b7094c;
    font-weight: 800;

}

.link{

    font-size: 1rem;
    color: #b7094c;
    font-weight: 600;
    align-self: flex-end;
}

a{

    text-decoration: none;

}

p{
    font-size: 1.19rem;
    color: #322a35;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;

}

.callout-heading1{
    /* padding-left: 90px; */
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    /* color: #b7094c; */
    color: #ffffff;
}

.callout-heading2{
 padding-left: 60px;
 padding-top: 20px;
 font-family: 'Poppins', sans-serif;
 font-size: 2rem;
 color: #b7094c;

}

.callout-heading3{
    
    padding-top:180px;
    padding-left:180px;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #000000;
   
   }

   .callout-heading4{
    padding-left: 60px;
    padding-top: 20px;
    font-size: 3rem;
    color: #b7094c;
   
   }

.section-header{

    font-size: 5rem;
}

.section-body{

    font-size: 1.5rem;
    align-self: flex-end;
    max-width: 100%;

}


/* ////////////////////////////////////////////////////////////////////////////////////////////*/




/* ///////////////////////////////////////// TABLET MEDIA QUERY ///////////////////////////////////////*/



@media (max-width: 1350px) {

    h1{
        
        font-size: 5.3rem;
       
       
    }
    
   


}






@media (max-width: 1024px) {

    h1{
        
        font-size: 5.2rem;
       
       
    }


    header{


        flex-direction: column-reverse;
    }
    



}



@media (max-width: 768px) {

    /* .right{ display: none;
    } */


    .work-preview{
        
        gap: 30px;
        flex-wrap: wrap;
        /* display:flex;
        padding-left: 60px;
        padding-right: 60px;
        justify-content: space-between;
        margin-bottom: 160px;
     */
    }


    .work-text{

        flex-wrap: wrap;

    }
    .work-main-container{

        max-width: 100%;
    
    }

    .work-images-container{

        flex-direction: column;
    }

    .work-images-left, .work-images-right{

        padding: 0px;

    }


    h1{
        
        font-size: 4.7rem;
        line-height: 1.2;
       
    }
    




}



@media (max-width:  640px) {

.work-preview{display: none;}





}








/* ///////////////////////////////////////// Media queries///////////////////////////////////////*/